 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .navbar-brand{
    color: black;
    font-size: 2rem;
 }
 .navbar-brand:hover{
    color: black;
 }
 .nav-link{
    margin-left: 20px;
    margin-right: 20px;
    color: black;
    text-transform: uppercase;
 }
 .nav-link:hover{
    color: black;
 }
 .search{
    height: 40px;
    width: 120px;
    margin-right: -35px;
    border-radius: 60px;
    border:1px solid  rgb(193, 23, 23);
    outline: none;
    
 }
 .btn0{
    height: 40px;
    width: 80px;
    border-radius: 60px;
    outline: none;
    border: none;
    background-color: rgb(193, 23, 23);
    font-weight: 700;
 }
 .menu_search{
    gap: 10px;
 }
 .main{
    background: url(./img/banner.png) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 600px;
    width: 100%;
 }
 .new{
   padding-top: 20px;
 }
 .card{
   box-shadow: 5px;
   
 }